# Ignore all NatureManufacture assets
NanoBrainProjectVR/Assets/NatureManufacture Assets/*
# ...Except for the Mountain Environment folder
!NanoBrainProjectVR/Assets/NatureManufacture Assets/Mountain Environment/
# Ignore everything inside Mountain Environment
NanoBrainProjectVR/Assets/NatureManufacture Assets/Mountain Environment/*
# ...Except for the Terrain folder!
!NanoBrainProjectVR/Assets/NatureManufacture Assets/Mountain Environment/Terrain/
